html {
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(193, 193, 232);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-family: 'Courier New', Courier, monospace;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin-top: 3rem;

  font-size: 20px;
}

input {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  border: 0;
  border-bottom: 2px solid black;
  box-shadow: 0 0 15px 4px rgba(0, 0 ,0, 0.3);
  border-radius: 10px;
  width: 100%;
  font-family: inherit;
  font-size: 15px;
}

button {
  padding: 10px;
  border: none;
  font-family: inherit;
  border-radius: 5px;
  font-weight: 600;
  width: 50%;
  font-size: 15px;
  box-shadow: 0 0 15px 4px rgba(0, 0 ,0, 0.2);
}

button:hover {
  background-color: #008CBA;
  color: white;
  box-shadow: 0 0 15px 4px rgba(0, 0 ,0, 0.5);
}

#location-name {
  font-size: 25px;
  margin: 20px;
}

.weather-info {
  background-color: rgb(176, 124, 176);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  margin: 0;
  gap: 10px;
}

li {
  list-style-type: none;
  font-weight: 600;
}

span {
  font-weight: normal;
  text-align: right;
}

